<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.PhoneActiveInfoMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.web.domain.PhoneActiveInfo">
        <id column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="phone_type" property="phoneType"/>
        <result column="imei1" property="imei1"/>
        <result column="imei2" property="imei2"/>
        <result column="model" property="model"/>
        <result column="activated" property="activated"/>
        <result column="activate_date" property="activateDate"/>
        <result column="coverage" property="coverage"/>
        <result column="active_info" property="activeInfo"/>
        <result column="sys_time" property="sysTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, sn, phone_type, imei1, imei2, model, activated, activate_date, coverage, active_info, sys_time,
        create_time, create_by, update_time, update_by
    </sql>

    <sql id="Base_Column_List_Q">
        id, sn, phone_type, imei1, imei2, model, activated, activate_date, coverage, sys_time,
        create_time, create_by, update_time, update_by
    </sql>

    <select id="selectBySn" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List_Q"/>
        FROM phone_active_info
        WHERE sn = #{sn}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO phone_active_info (
            sn, phone_type, imei1, imei2, model, activated, activate_date, coverage, active_info, sys_time,
            create_time, create_by, update_time, update_by
        ) VALUES (
                     #{sn}, #{phoneType}, #{imei1}, #{imei2}, #{model}, #{activated}, #{activateDate}, #{coverage}, #{activeInfo}, #{sysTime},
                     #{createTime}, #{createBy}, #{updateTime}, #{updateBy}
                 )
    </insert>

    <update id="updateById">
        UPDATE phone_active_info
        <set>
            <if test="phoneType != null">phone_type = #{phoneType},</if>
            <if test="imei1 != null">imei1 = #{imei1},</if>
            <if test="imei2 != null">imei2 = #{imei2},</if>
            <if test="model != null">model = #{model},</if>
            <if test="activated != null">activated = #{activated},</if>
            <if test="activateDate != null">activate_date = #{activateDate},</if>
            <if test="coverage != null">coverage = #{coverage},</if>
            <if test="activeInfo != null">active_info = #{activeInfo},</if>
            <if test="sysTime != null">sys_time = #{sysTime},</if>
            update_time = now(),
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteBySn">
        DELETE FROM phone_active_info WHERE sn = #{sn}
    </delete>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ruoyi.web.domain.PhoneActiveInfo">
        SELECT <include refid="Base_Column_List_Q"/>
        FROM phone_active_info
        <where>
            <if test="id != null"> AND id = #{id}</if>
            <if test="sn != null and sn != ''"> AND sn = #{sn}</if>
            <if test="phoneType != null and phoneType != ''"> AND phone_type = #{phoneType}</if>
            <if test="imei1 != null and imei1 != ''"> AND imei1 = #{imei1}</if>
            <if test="imei2 != null and imei2 != ''"> AND imei2 = #{imei2}</if>
            <if test="model != null and model != ''"> AND model = #{model}</if>
            <if test="activated != null"> AND activated = #{activated}</if>
            <if test="sysTime != null and sysTime != ''"> AND sys_time = #{sysTime}</if>
            <!-- create_time 范围查询 -->
<!--            <if test="beginCreateTime != null and beginCreateTime != ''">-->
<!--                AND create_time >= #{beginCreateTime}-->
<!--            </if>-->
<!--            <if test="endCreateTime != null and endCreateTime != ''">-->
<!--                AND create_time &lt;= #{endCreateTime}-->
<!--            </if>-->
            <if test="createBy != null and createBy != ''"> AND create_by = #{createBy}</if>
        </where>
        order by create_time desc
    </select>
</mapper>